<div class="reclamation-container">
  <h2>Mes Réclamations</h2>
  
  <button class="add-btn" (click)="openForm()">➕</button>

  <div class="reclamation-list">
    <div *ngFor="let rec of reclamations" class="reclamation-card">
      <div class="header">
        <span><strong>Titre : </strong>{{ rec.titre }}</span>
        <span class="status-emoji">
          <ng-container [ngSwitch]="rec.etatReclamation?.trim()">
            <span *ngSwitchCase="'EN_ATTENTE'">⌛</span>
            <span *ngSwitchCase="'APPROUVE'">✅</span>
            <span *ngSwitchCase="'REJETE'">📛</span>
            <span *ngSwitchDefault>❔</span>
          </ng-container>
        </span>


     </div>
      <p><strong>Description :</strong>{{ rec.description }}</p>
      <p><strong>Localisation :</strong> {{ rec.localisation }}</p>
      <p><strong>Date :</strong> {{ rec.date | date:'shortDate' }}</p>
      <div class="actions">
        <!-- Afficher le bouton supprimer uniquement si le statut est EN_ATTENTE -->
        <button *ngIf="rec.etatReclamation === ETAT.EN_ATTENTE" (click)="deleteReclamation(rec.id_reclamation!)">
          🧹🪣
        </button>
      </div>
    </div>
  </div>

  <!-- Formulaire Modal -->
  <div class="modal" *ngIf="showForm">
    <div class="modal-content">
      <span class="close" (click)="closeForm()">&times;</span>
      <h3>Soumettre une Réclamation</h3>
      <div class="form">
        <input type="text" [(ngModel)]="newReclamation.titre" placeholder="Titre" />
        <input type="text" [(ngModel)]="newReclamation.localisation" placeholder="Localisation" />
        <textarea [(ngModel)]="newReclamation.description" placeholder="Description"></textarea>
        <button (click)="addReclamation()">Envoyer</button>
      </div>
    </div>
  </div>
</div>
