<div class="container">
  <div class="heading">Inscription</div>
  <form (ngSubmit)="onSubmit()" class="form">

    <input required [(ngModel)]="nom" name="nom" class="input" type="text" placeholder="Nom">
    <input required [(ngModel)]="prenom" name="prenom" class="input" type="text" placeholder="Prénom">
    <input required [(ngModel)]="email" name="email" class="input" type="email" placeholder="E-mail">
    <input required [(ngModel)]="numerotelephone" name="numerotelephone" class="input" type="text" placeholder="Numéro de téléphone" maxlength="8">
    <input required [(ngModel)]="adresse" name="adresse" class="input" type="text" placeholder="Adresse">
    <input required [(ngModel)]="login" name="login" class="input" type="text" placeholder="Identifiant">
    <input required [(ngModel)]="mdp" name="mdp" class="input" type="password" placeholder="Mot de passe">

    <div class="role-options">
      <div class="title">Choisissez votre rôle</div>
      <div class="options">
        <label class="option" [class.active]="userRole === 'CLIENT'">
          <input type="radio" [(ngModel)]="userRole" name="user_role" [value]="'CLIENT'">
          <span>RÉSIDENT</span>
        </label>
        <label class="option" [class.active]="userRole === 'CONCIERGE'">
          <input type="radio" [(ngModel)]="userRole" name="user_role" [value]="'CONCIERGE'">
          <span>CONCIERGE</span>
        </label>
        <label class="option" [class.active]="userRole === 'ADMIN'">
          <input type="radio" [(ngModel)]="userRole" name="user_role" [value]="'ADMIN'">
          <span>ADMIN</span>
        </label>
      </div>
    </div>

    <input class="login-button" type="submit" value="S'inscrire">
  </form>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <div class="social-account-container">
    <span class="title">Vous avez déjà un compte ?</span>
    <div class="social-accounts">
      <a routerLink="/login">Se connecter</a>
    </div>
  </div>
</div>
